@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.resume-wrapper {
  padding: 40px;
  text-align: center;
}
.resume-wrapper h2 {
  padding-bottom: 20px;
}
.resume-wrapper #resume {
  display: none;
}

.resume-wrapper label[for="resume"] * {
  vertical-align: middle;
  cursor: pointer;
}

.resume-wrapper label[for="resume"] span {
  margin-left: 10px;
}

.resume-wrapper i.remove {
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
  display: none;
}
