@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback__form h1 {
  font-weight: 700;
  margin-bottom: 15px;
}
.feedback__btns {
  display: flex;
  justify-content: flex-end;
}
.feedback__btns .btn {
  margin-left: 10px;
}


.unSubscribeBTN:active, :focus {
  outline: none !important;
}

.unSubscribeBTN {
  background-position: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif !important;
  font-weight: 500;
  min-width: 120px;
  padding: 12px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  transition: all 0.5s;
}
.btn--primary {
  background-color: #7BC4CA;
  color: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(123, 196, 202, 0.7);
}
.btn--primary:hover {
  background: #70bfc6 radial-gradient(circle, transparent 1%, #70bfc6 1%) center/15000%;
}
.btn--primary:active {
  background-color: #8dccd1;
  background-size: 100%;
  transition: background 0s;
}
.btn--secondary {
  background-color: #E4E4E4;
  color: #000;
  box-shadow: 0px 3px 6px 0px rgba(228, 228, 228, 0.7);
}
.btn--secondary:hover {
  background: gainsboro radial-gradient(circle, transparent 1%, gainsboro 1%) center/15000%;
}
.btn--secondary:active {
  background-color: #f1f1f1;
  background-size: 100%;
  transition: background 0s;
}

.radio {
	margin: 16px 0;
	display: block;
	cursor: pointer;
  }
  .radio input {
	display: none;
  }
  .radio input + span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
  }
  .radio input + span:not(:empty) {
	padding-left: 30px;
  }
  .radio input + span:before, .radio input + span:after {
	content: "";
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
  }
  .radio input + span:before {
	background: #D1D7E3;
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  }
  .radio input + span:after {
	background: #fff;
	transform: scale(0.78);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  }
  .radio input:checked + span:before {
	transform: scale(1.04);
	background: #5D9BFB;
  }
  .radio input:checked + span:after {
	transform: scale(0.4);
	transition: transform 0.3s ease;
  }
  .radio:hover input + span:before {
	transform: scale(0.92);
  }
  .radio:hover input + span:after {
	transform: scale(0.74);
  }
  .radio:hover input:checked + span:after {
	transform: scale(0.4);
  }
  