@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
  margin: 0;
  padding: 0;
}

.appcontent {
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif !important;
}

.appcontent > p{
    color: #090c17;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
    font-family: 'Titillium Web', sans-serif;
}
.appcontent > p > i{
    font-size: 18px;
}
.appcontent > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}
.appcontent > ul{
    list-style-type: none;
    font-family: 'Titillium Web', sans-serif;
}
.tags{
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
}
.tags ~ a{
    /* display: none !important; */
    display: inline-block;
}
.tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
    font-family: 'Titillium Web', sans-serif;
}
.tags span span{
    color: #738f93;
    font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-width:850px){
   
    .appcontent{
        margin: 0 5%;
        margin-bottom: 30px;
    }
}

.actionicons {
    margin-top: -30px !important;
}

.skilllist {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 20em;
}

.skilllist li {
    padding: 1em;
    margin: 2px;
}

.custom-button {
  display: inline-block;
  width: 300px;
  height: 46px;
  line-height: 46px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 10px auto 30px;
  outline: 0;
  background-color: #E20052;
}
.custom-button:hover {
  background-color: #ff166b;
}
.custom-import {
  position: relative;
  cursor: pointer;
  /*.label {
    margin-left: 10px;
  
    &:before {
      .font-awesome();
      content: @arrow-circle-o-down;
      margin-right: 12px; 
    }   
  }*/
}
.custom-import .label-file {
  width: 300px;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-import input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}


.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  max-width: 100%;
  padding: 85px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 10px 0px #d8dfeb;
  box-shadow: 0px 8px 10px 0px #d8dfeb;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plans .plan {
  cursor: pointer;
  width: 75%;
}

.plans .plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;
}

.plans .plan .plan-content img {
  margin-right: 30px;
  height: 72px;
}

.plans .plan .plan-details span {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #252f42;
}

.container .title {
  font-size: 20px;
  font-weight: 500;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: #252f42;
  margin-bottom: 20px;
}

.plans .plan .plan-details p {
  color: #646a79;
  font-size: 14px;
  line-height: 18px;
}

.plans .plan .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
  box-shadow: 0px 3px 5px 0px #e8e8e8;
}

.plans .plan input[type="radio"]:checked + .plan-content:after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #216fe0;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
  box-shadow: 0px 0px 0px 2px #0066ff;
}

.plans .plan input[type="radio"]:checked + .plan-content {
  border: 2px solid #216ee0;
  background: #eaf1fe;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 991px) {
  .plans {
    margin: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px;
  }

  .plans .plan {
    width: 100%;
  }

  .plan.complete-plan {
    margin-top: 20px;
  }

  .plans .plan .plan-content .plan-details {
    width: 70%;
    display: inline-block;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@media screen and (max-width: 767px) {
  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }
}

@media screen and (max-width: 540px) {


  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 20px;
    right: 10px;
  }

  .plans .plan .plan-content .plan-details {
    width: 100%;
  }

  .plans .plan .plan-content {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

