@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

.appcontent {
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif !important;
}

.appcontent > p{
    color: #090c17;
    font-weight: bolder;
    font-size: 18px;
    line-height: 2;
    font-family: 'Titillium Web', sans-serif;
}
.appcontent > p > i{
    font-size: 18px;
}
.appcontent > a{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}
.appcontent > ul{
    list-style-type: none;
    font-family: 'Titillium Web', sans-serif;
}
.tags{
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
}
.tags ~ a{
    /* display: none !important; */
    display: inline-block;
}
.tags span{
    font-size: 14px;
    font-weight: normal;
    color: #0e141e;
    font-family: 'Titillium Web', sans-serif;
}
.tags span span{
    color: #738f93;
    font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-width:850px){
   
    .appcontent{
        margin: 0 5%;
        margin-bottom: 30px;
    }
}

.actionicons {
    margin-top: -30px !important;
}

.skilllist {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 20em;
}

.skilllist li {
    padding: 1em;
    margin: 2px;
}

.custom-button {
  display: inline-block;
  width: 300px;
  height: 46px;
  line-height: 46px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  margin: 10px auto 30px;
  outline: 0;
  background-color: #E20052;
}
.custom-button:hover {
  background-color: #ff166b;
}
.custom-import {
  position: relative;
  cursor: pointer;
  /*.label {
    margin-left: 10px;
  
    &:before {
      .font-awesome();
      content: @arrow-circle-o-down;
      margin-right: 12px; 
    }   
  }*/
}
.custom-import .label-file {
  width: 300px;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0 3%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-import input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}