
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.loginFormInput {
    background-color: #f2eef3;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 90% !important;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif !important;
}

.loginFormInput:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif !important;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.card {
    border-radius: 0;
    border: none;
    font-family: "Titillium Web", sans-serif !important;
}

.card1 {
    width: 50%;
    /* padding: 40px 30px 10px 30px; */
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #61d7f7, #033b57);
}


.heading {
    margin-bottom: 20px !important;
    font-family: "Titillium Web", sans-serif !important;
    font-size: 45px;
    padding: 50px;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
    font-family: "Titillium Web", sans-serif !important;
}

:-ms-input-placeholder {
    color: #000 !important;
    font-family: "Titillium Web", sans-serif !important;
}

::-ms-input-placeholder {
    color: #000 !important;
    font-family: "Titillium Web", sans-serif !important;
}

.form-control-label {
    font-size: 18px;
    margin-left: 15px;
    font-family: "Titillium Web", sans-serif !important;
}

.msg-info {
    padding-left: 28px;
    margin-bottom: 30px;
    font-family: "Titillium Web", sans-serif !important;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #61d7f7, #033b57);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    display: block; /* Change to block to allow margin auto to work */
    width: 200px; /* Define a width for the button */
    margin: 20px auto; /* Center the button with auto margins */
    font-family: "Titillium Web", sans-serif !important;
    font-size: 20px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #033b57, #61d7f7);
    font-family: "Titillium Web", sans-serif !important;
}

.btn-white {
    border-radius: 50px;
    color: #033b57;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #033b57 !important;
}

.btn-white:hover {
    color: #fff !important;
    background-image: linear-gradient(to right, #61d7f7, #033b57);
}

.btn-white a {
    color: #000;
    font-family: "Titillium Web", sans-serif !important;
}

.btn-white a:hover {
    color: #fff;
    font-family: "Titillium Web", sans-serif !important;
}

.bottom {
    width: 100%;
    margin-top: 3px !important;
}

.sm-text {
    font-size: 25px;
}

.right h3 {
    font-size: 40px;
    font-family: "Titillium Web", sans-serif !important;
}
.right small {
    font-size: 16px;
    width: 900px;
    line-height: 1.6;
}

.loginbtn button {
    width: 150px !important;
}

.forgotpassword small {
    font-size: 16px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}