.custom-modal { 
  border-radius: 15px !important; 
}   

.typing-indicator-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: 50px; 
  padding: 10px 15px; 
  border-radius: 50px; 
}
  
.dot{
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: gray;
  border-radius: 50%;
  animation: typing 1.5s infinite ease-in-out;
}
  
.dot:nth-child(1) {
  animation-delay: 0s;
}
  
.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.quick-reply-btn {
  border: 1px solid #0072ff;
  color: #0072ff;
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.quick-reply-btn:hover {
  border: 1px solid #00c6ff;
  color: #00c6ff;
}
