@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
:root {
    --primary: #3559e0;
    --secondary: #2b9bff;
    --light: #effdf5;
    --dark: #2b3940;
}

body {
    font-family: "Titillium Web", sans-serif !important;
    font-size: 16px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.logo {
    height: 75px;
    width: 100%;
}


/*** Button ***/

.btn {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}



/*** Navbar ***/

.navbar .dropdown-toggle::after {
    border: none;
    font-family: "Font Awesome\ 5 Free";
    content: url('../icons/down-chevron-black.png');
    font-weight: 3559;
    vertical-align: middle;
    margin-left: 5px;
    transition: 0.5s;
    font-family: "Titillium Web", sans-serif;
    color: #fff !important;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    outline: none;
    font-family: "Titillium Web", sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
    .navbar-light .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
    font-family: "Titillium Web", sans-serif;
}

.navbar-brand h1 {
    font-family: "Titillium Web", sans-serif;
}

.navbar-brand span {
    font-family: "Titillium Web", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        font-family: "Titillium Web", sans-serif;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
        font-family: "Titillium Web", sans-serif;
    }
}


/*** Header ***/

.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
    font-family: "Titillium Web", sans-serif;
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
        font-family: "Titillium Web", sans-serif;
    }
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
        font-family: "Titillium Web", sans-serif !important;
    }
    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
        font-family: "Titillium Web", sans-serif !important;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-size: 22px;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../../assets/img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-about-us {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/about-us.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-our-mission {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/our-mission.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-our-vision {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/our-mission.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-employers {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/employers.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-contactus {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/contactus.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-jobs {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/browse-jobs.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-resume-uploads {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/resumes.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-logins {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/logins.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-register {
    background: linear-gradient(rgba(43, 57, 64, 0.5), rgba(43, 57, 64, 0.5)), url(../img/pg-bg-images/registers.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/

.about-bg {
    background-image: -webkit-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient( center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/

.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent;
    transition: 0.5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, 0.08);
    box-shadow: none;
}


/*** Job Listing ***/

.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, 0.08);
    box-shadow: none;
}


/*** Testimonial ***/

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/

.footer {
    background: var(--bs-secondary);
}

.footer a {
    color: #fff !important;
}

.footer h5 p {
    color: #fff !important;
}

.footer p {
    color: #fff !important;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-social i:hover {
    color: #900 !important;
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    /* content: "s"; */
    font-family: "Font Awesome 5 Free";
    font-weight: 3559;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid #fff;
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footerLogo {
    margin-bottom: 30px;
    height: 80px;
    width: 155px;
}

/* Jobs Pagination Starts */
.jobspaginate{ text-align: center; }
.jobspagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
    list-style: none !important;
}
.jobspagination li a.page-link{
    line-height: 41px;
    height: 42px;
    width: 42px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 50% !important;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2b3940;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    transition: all 0.3s ease 0s;
    
}
.jobspagination li a.page-link:hover,
.jobspagination li a.page-link:focus,
.jobspagination li.active a.page-link:hover,
.jobspagination li.active a.page-link{
    color: #222;
    background: transparent;
    box-shadow: 0 0 10px #494f51;
}
.jobspagination li a.page-link:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border: 5px solid #494f51;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transform: rotate(155deg);
    transition: all 0.3s ease 0s;
    list-style: none !important;
}
.jobspagination li a.page-link:hover:before,
.jobspagination li a.page-link:focus:before,
.jobspagination li.active a.page-link:before{
    opacity: 1;
    transform: rotate(-15deg);
}
@media only screen and (max-width: 480px){
    .jobspagination{
        font-size: 0;
        border: none;
        display: inline-block;
    }
    .jobspagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }
}

/* Jobs Pagination Ends */

.jobs_title {
    padding: 0 ;
    overflow: hidden ;
    display: -webkit-box ;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 3 ;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif !important;
}

.jobDetails h4 {
    font-family: "Titillium Web", sans-serif !important;
}

.jobDetails p {
    font-family: "Titillium Web", sans-serif !important;
}

.welcome-box{border-radius:0;}
.bb-0{border-bottom: 0px transparent;}
.welcome-box-body{padding: 15px 85px 105px;width: 100%;}
.welcome-box-body .modal-title {font-size: 36px;color: #3B444E;letter-spacing: 0;line-height: 40px;margin-bottom: 20px;}
.welcome-box-body p {font-size: 18px;color: #3B444E;line-height: 25px;}

